<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="logic.LoginPage"/>
      <class name="logic.Hooks"/>
    </classes>
  </test> 
</suite> -->

<suite name="Suite">
  <parameter name="browser" value="HtmlRunner"/>
<test thread-count="1" name="Test">
    <parameter name="browser" value="chrome" />
    <packages>
      <package name="logic"/>
    </packages>
  </test>
  

<!--<test thread-count="1" name="Testfirefox">
		<parameter name="browser" value="firefox" />
		<packages>
      <package name="logic"/>
    </packages>
	</test>-->

<!--<test thread-count="3" name="Testedge">
		<parameter name="browser" value="edge" />
		<packages>
      <package name="logic"/>
    </packages>
	</test>--> 
</suite>
